*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --main-color-bg : #ffffff;
  --font-color: #14171a;
  --main-blue: #1da1f2;
  --body-bgcolor: #e6ecf0;
  --card-bg: #AFAFAF;
}

body{
  background-color: var(--body-bgcolor);
  overflow-y:scroll;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  position:relative;
  font-size:14px;
  line-height:20px;
}

.container{
  background-color: var(--main-color-bg);
  border-bottom: 1px solid #000;
}

.nav-bar{
  background-color: var(--main-color-bg);
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  min-width: 980px;
  max-width: 1190px;
  margin: 0 auto;
}

.Opciones{
  list-style: none;
  color: var(--font-color);
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Opciones li{
  font-size: 14px;
  padding: 0 5px;
  margin: 0 10px;
  text-align: center;
  font-weight: bold;
  line-height: 46px;
}

.Opciones li:hover{
  cursor: pointer;
  color: var(--main-blue);
  box-shadow: inset 0px -2px #1c94e0;
}

.op-active{
  color: var(--main-blue);
  box-shadow: inset 0px -4px #1c94e0;
}

.Twitter{
  flex: 1;
  color: var(--main-blue);
  font-size: 25px;
  text-align: center;

}

.Buscador{
  background-color: #E2E2E2;
  border: 1px solid #141d26;
  padding: 5px 10px;
  border-radius: 20px;
  color: #aaa;
  min-width: 235px;
  margin-right: 30px;
}

.Buscador input{
  background-color: #E2E2E2;
  border: 0;
}

.Buscador input:focus{
  outline: 0;
  color: white;
}

.Avatar{
  display: flex ;
  justify-conten: center;
  align-items: center;
  margin-right: 30px;
}

.Avatar img{
  width: 35px;
  border-radius: 50%
}

.Twittear{
  background-color: var(--main-blue);
  border: 0;
  color: white;
  height: 35px;
  width: 100px;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
}

.Principal{
  min-width: 980px;
  max-width: 1190px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.trends{
  /*background-color: red; */
  width: 280px;
}
.Tweet-line{
  flex: 1;
  background-color: var(--main-color-bg);
  border: 1px solid #000;
  margin: 2px;
}


.who-follow{
  width: 250px;
  background-color: var(--main-color-bg);
  border: 1px solid #000;
  margin: 2px;
  position: inline;
  float: right;
 

}

.who-follow h1{
	
  text-align: center;
  font-size: 36px;
  position: fixed;
  max-width: 250px;
  padding: 10px;
  text-transform: uppercase;
  line-height: 1.3;

	
}

.who-follow p{
    
    padding-top:20px;
}

.card{
  display: flex;
  flex-direction: column;
  height: 250px;
  border: 1px solid #000;
  margin: 2px;
}

.top{
  flex: 1;
  background-color: var(--card-bg);
}

.bottom{
  flex: 1;
  background-color: var(--main-color-bg);
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.bottom img{
  border-radius: 50%;
  max-width: 80px;
  position: absolute;
  top: -40px;
  left: 10px;
  border: 3px solid var(--main-color-bg);
}

.username{
  color: #000;
  margin-top: 5px;
  margin-left: 95px;
  font-weight: bold;
}

.username .twitter-name{
  color: var(--font-color);
  font-size: 13px;
}

.statics{
  height: 50px;
  align-self: flex-end;
  width: 100%;
}

.statics ul{
  display: flex;
  width: 100%;
  list-style: none;
  margin-left: 5px;
}

.statics li{
  flex: 1;
}

.statics li:nth-child(1){
  margin-left: 10px;
}

.statics .title{
  color: var(--font-color);
  font-size: 13px;
  font-weight: bold;
}

.statics .number{
  color: var(--card-bg);
  font-size: 16px;
  font-weight: bold;
}

.Trending{
  background-color: var(--main-color-bg);
  border: 1px solid #000;
  margin: 2px;
}

.city{
  color: #000;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 10px;
}

.city > span {
  font-size: 11px;
  color: var(--card-bg);
}

.list-tag{
   font-weight: bold;
   list-style: none;
   padding: 0 10px;
   color: var(--card-bg);
}

.Trending li {
   line-height: 25px;
}

.no-tweets{
  color: var(--font-color);
  font-size: 12px;
}

.share-somewaht{
  border-bottom: 1px solid #000;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-somewaht .Avatar{
   margin-left: 15px;
   margin-right: 15px;
}

.share-somewaht textarea{
  flex:1;
  height: 35px;
  margin-right:15px;
  border-radius: 5px;
  background-color: var(--body-bgcolor);
  border: 1px solid #000;
  padding-top:6px;
  padding-left:10px;
  color: #fff;
}
.share-somewaht textarea::placeholder{
  color: var(--card-bg);
  font-size: 14px;
}

.news-twitts{
  height : 40px;
  border-bottom: 1px solid #000;
  text-align: center;
}

.news-twitts:hover{
  cursor: pointer;
  background: var(--body-bgcolor);
}

.news-twitts span{
  color: var(--card-bg);
  line-height:40px;
}

.m-twitt{
  color: #000;
  padding: 20px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #000;
  display : flex;
  width: 650px;
   word-wrap: break-word;
}

.m-twitt img{
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 25px;
	
}

.fake-user{
  font-weight: bold;
}


.at-name {
  color: var(--font-color);
  padding-left: 7px;
  font-weight: 1;
}

.tweet-content {
  margin-top: 20px;
  position: absolute;
  margin-left: 57px;
  width: 565px;
  margin-right: 5px;
  word-wrap: break-word;
    
    
}

.tweet-content img{
	margin-top: 10px;
	position: absolute;
	border-radius: 0% !important;
	width: 90%;
	margin-bottom: 10px;
	margin-right: 10px;
}
